## Problem

In this project I look to understand the predictability of a movie's rating based on some of the most basic factors like runtime, genre, directors. We will be looking at a large number of movies and seeing how we can model the ratings. To do this, we will be using IMDb's dataset on basic info, titles and ratings. 

Disclaimer: I personally think that such a model can only get you the basic trends and do not explain the full depth of the movie making process.

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data preprocessing

### a. Cleaning Titles dataset

In [2]:
titles = pd.read_csv('Titles.tsv', sep='\t')
titles.head()

C:\Users\zbtin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

1. Checking for null values

In [3]:
titles.title.isna().value_counts()

False    22543552
True            2
Name: title, dtype: int64

In [4]:
titles.titleId.isna().value_counts()

False    22543554
Name: titleId, dtype: int64

In [5]:
titles.region.isna().value_counts()

False    22543465
True           89
Name: region, dtype: int64

2. Removing null values

In [6]:
titles.dropna(inplace = True)

In [7]:
titles.shape

(22543463, 8)

In [8]:
titles.isOriginalTitle.value_counts()

0     13058629
0      9008568
1       374061
1       100070
\N        2135
Name: isOriginalTitle, dtype: int64

3. Standardizing the data in the isOriginalTitle Column

In [9]:
titles['isOriginalTitle'].replace('0', 0, inplace = True)
titles['isOriginalTitle'].replace('1', 1, inplace = True)
titles.isOriginalTitle.value_counts()

0     22067197
1       474131
\N        2135
Name: isOriginalTitle, dtype: int64

In [10]:
titles.region.value_counts().head(20)

FR     2789011
JP     2774882
DE     2743378
ES     2724525
IT     2711374
IN     2690382
PT     2662052
US     1060544
\N      533292
GB      277483
CA      133900
XWW     127899
BR       83975
AU       83058
GR       72032
MX       70984
FI       65493
RU       63537
HU       58550
PL       56332
Name: region, dtype: int64

Chloreopleth map can be created using this

In [11]:
titles.types.value_counts()

\N                      20893381
imdbDisplay               996495
original                  474132
alternative                70948
working                    44147
dvd                        19918
tv                         15707
video                      15478
festival                   12787
dvdimdbDisplay              232
imdbDisplaytv                70
festivalimdbDisplay          68
imdbDisplayworking           31
imdbDisplayvideo             25
alternativetv                 9
tvvideo                       6
alternativeworking            6
alternativedvd                6
videoworking                  5
tvworking                     4
festivalworking               3
alternativevideo              2
alternativefestival           1
dvdvideo                      1
dvdworking                    1
Name: types, dtype: int64

In [12]:
titles.language.value_counts().head(20)

\N     3830471
ja     2679053
fr     2644268
hi     2617721
es     2614816
de     2614694
it     2613618
pt     2613467
en      196422
ru       25468
bg       20587
tr       20066
cmn       9931
sv        7633
he        6412
qbn       4939
sr        3966
yue       3810
fa        2387
ca        2084
Name: language, dtype: int64

In [13]:
titles.attributes.value_counts()

\N                                     22350358
transliterated title                      24000
alternative spelling                      13215
literal English title                     12374
new title                                 10512
                                         ...
8mm release titlesecond part title           1
racier versionreissue title                  1
copyright titlereissue title                 1
poster titlevideo box title                  1
thirtyninth season title                      1
Name: attributes, Length: 188, dtype: int64

Since language, attributes and type have a predominance of null values we will not be using them to estimate the ratings later

In [14]:
titles.drop(columns=['attributes', 'language', 'types'], inplace = True)

In [15]:
titles.shape

(22543463, 5)

### Cleaning of Ratings dataset

In [16]:
ratings = pd.read_csv('Ratings.tsv', sep='\t')
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1639
1  tt0000002            6.1       198
2  tt0000003            6.5      1331
3  tt0000004            6.2       120
4  tt0000005            6.1      2114

In [17]:
ratings.shape

(1059926, 3)

### Combining the two datasets

In [18]:
df = ratings.set_index('tconst').join(titles.set_index('titleId'), how='left')

In [19]:
df.shape

(2983481, 6)

In [20]:
df

,averageRating,numVotes,ordering,title,region,isOriginalTitle
tt0000001,5.6,1639,1.0,Карменсіта,UA,0
tt0000001,5.6,1639,2.0,Carmencita,DE,0
tt0000001,5.6,1639,3.0,Carmencita - spanyol tánc,HU,0
tt0000001,5.6,1639,4.0,Καρμενσίτα,GR,0
tt0000001,5.6,1639,5.0,Карменсита,RU,0
...,...,...,...,...,...,...
tt9916766,6.9,14,4.0,Folge #10.15,DE,0
tt9916766,6.9,14,5.0,Episódio #10.15,PT,0
tt9916766,6.9,14,6.0,एपिसोड #10.15,IN,0
tt9916766,6.9,14,7.0,Épisode #10.15,FR,0
tt9916778,7.3,24,NaN,NaN,NaN,NaN

We notice that the many movies have multiple entries, just diffenent title and region

Let's see which region has the most analyzable movies

In [21]:
df.region.value_counts()

US     390413
\N     326489
FR     145416
JP     133590
DE     128584
        ...
DJ          1
VU          1
AI          1
CF          1
XSI         1
Name: region, Length: 230, dtype: int64

Given the news IMDb contains it is not unexpected that the US region will dominate

We will concentrate on the movies based in the US as this has the largest number of movies that have a rating associated with them

In [22]:
US_region = df['region']=='US'
df = df[US_region]
df

,averageRating,numVotes,ordering,title,region,isOriginalTitle
tt0000001,5.6,1639,6.0,Carmencita,US,0
tt0000002,6.1,198,7.0,The Clown and His Dogs,US,0
tt0000005,6.1,2114,1.0,Blacksmithing Scene,US,0
tt0000005,6.1,2114,5.0,Blacksmith Scene #1,US,0
tt0000005,6.1,2114,6.0,Blacksmithing,US,0
...,...,...,...,...,...,...
tt9916200,8.3,158,1.0,The Great Experiment,US,0
tt9916204,8.1,183,1.0,Better Angels,US,0
tt9916348,9.3,13,1.0,Ancient World Exposed,US,0
tt9916720,6.1,56,10.0,The Demonic Nun,US,0
tt9916720,6.1,56,12.0,The Nun 2,US,0

Now we have an analyzable dataset, but ordering isn't telling us anything so let's remove it

In [23]:
df.drop(columns=['ordering'], inplace= True)
df

C:\Users\zbtin\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,averageRating,numVotes,title,region,isOriginalTitle
tt0000001,5.6,1639,Carmencita,US,0
tt0000002,6.1,198,The Clown and His Dogs,US,0
tt0000005,6.1,2114,Blacksmithing Scene,US,0
tt0000005,6.1,2114,Blacksmith Scene #1,US,0
tt0000005,6.1,2114,Blacksmithing,US,0
...,...,...,...,...,...
tt9916200,8.3,158,The Great Experiment,US,0
tt9916204,8.1,183,Better Angels,US,0
tt9916348,9.3,13,Ancient World Exposed,US,0
tt9916720,6.1,56,The Demonic Nun,US,0
tt9916720,6.1,56,The Nun 2,US,0

### Cleaning basic info dataset and combining it with the others

In [24]:
basics = pd.read_csv('Basics.tsv', sep='\t')
basics.head()

C:\Users\zbtin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [25]:
basics.shape

(7041952, 9)

In [26]:
df = df.join(basics.set_index('tconst'), how='left')
df

,averageRating,numVotes,title,region,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tt0000001,5.6,1639,Carmencita,US,0,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
tt0000002,6.1,198,The Clown and His Dogs,US,0,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
tt0000005,6.1,2114,Blacksmithing Scene,US,0,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
tt0000005,6.1,2114,Blacksmith Scene #1,US,0,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
tt0000005,6.1,2114,Blacksmithing,US,0,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9916200,8.3,158,The Great Experiment,US,0,tvEpisode,The Great Experiment,The Great Experiment,0,2019,\N,43,Drama
tt9916204,8.1,183,Better Angels,US,0,tvEpisode,Better Angels,Better Angels,0,2019,\N,42,Drama
tt9916348,9.3,13,Ancient World Exposed,US,0,video,Ancient World Exposed,Ancient World Exposed,0,2019,\N,67,History
tt9916720,6.1,56,The Demonic Nun,US,0,short,The Nun 2,The Nun 2,0,2019,\N,10,"Comedy,Horror,Mystery"
tt9916720,6.1,56,The Nun 2,US,0,short,The Nun 2,The Nun 2,0,2019,\N,10,"Comedy,Horror,Mystery"

In [27]:
df.titleType.value_counts()

movie           121613
tvEpisode        98318
short            59443
video            41774
tvSeries         30642
tvMovie          18723
tvSpecial         7411
videoGame         7315
tvMiniSeries      3312
tvShort           1862
Name: titleType, dtype: int64

We will only be looking at movies, as this is the dominant section of the data

In [28]:
movies = df['titleType']=='movie'
df = df[movies]
df

,averageRating,numVotes,title,region,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tt0000009,5.9,154,Miss Jerry,US,0,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
tt0000147,5.2,355,The Corbett-Fitzsimmons Fight,US,0,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport"
tt0000630,3.2,12,Hamlet,US,0,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
tt0000679,5.2,37,The Fairylogue and Radio-Plays,US,0,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,\N,120,"Adventure,Fantasy"
tt0000886,5.1,21,"Hamlet, Prince of Denmark",US,0,movie,"Hamlet, Prince of Denmark",Hamlet,0,1910,\N,\N,Drama
...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9906644,6.8,471,Manoharam,US,0,movie,Manoharam,Manoharam,0,2019,\N,122,"Comedy,Drama"
tt9909228,5.8,20,Ximei,US,0,movie,Ximei,Ximei,0,2019,\N,98,Documentary
tt9913056,7.0,21,Swarm Season,US,0,movie,Swarm Season,Swarm Season,0,2019,\N,86,Documentary
tt9913660,5.3,35,No Apology,US,0,movie,No Apology,No Apology,0,2019,\N,102,Drama
tt9914642,8.2,26,Albatross,US,0,movie,Albatross,Albatross,0,2017,\N,97,Documentary

In [29]:
df.drop(columns=['endYear'], inplace = True)
df

C:\Users\zbtin\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,averageRating,numVotes,title,region,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
tt0000009,5.9,154,Miss Jerry,US,0,movie,Miss Jerry,Miss Jerry,0,1894,45,Romance
tt0000147,5.2,355,The Corbett-Fitzsimmons Fight,US,0,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,20,"Documentary,News,Sport"
tt0000630,3.2,12,Hamlet,US,0,movie,Hamlet,Amleto,0,1908,\N,Drama
tt0000679,5.2,37,The Fairylogue and Radio-Plays,US,0,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,120,"Adventure,Fantasy"
tt0000886,5.1,21,"Hamlet, Prince of Denmark",US,0,movie,"Hamlet, Prince of Denmark",Hamlet,0,1910,\N,Drama
...,...,...,...,...,...,...,...,...,...,...,...,...
tt9906644,6.8,471,Manoharam,US,0,movie,Manoharam,Manoharam,0,2019,122,"Comedy,Drama"
tt9909228,5.8,20,Ximei,US,0,movie,Ximei,Ximei,0,2019,98,Documentary
tt9913056,7.0,21,Swarm Season,US,0,movie,Swarm Season,Swarm Season,0,2019,86,Documentary
tt9913660,5.3,35,No Apology,US,0,movie,No Apology,No Apology,0,2019,102,Drama
tt9914642,8.2,26,Albatross,US,0,movie,Albatross,Albatross,0,2017,97,Documentary

Let's remove the columns that we have multiple values and those that we have used for filtering, so removing directors, titleType and more

In [30]:
df.drop(columns = ['region', 'titleType'], inplace = True)
df

C:\Users\zbtin\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,averageRating,numVotes,title,isOriginalTitle,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
tt0000009,5.9,154,Miss Jerry,0,Miss Jerry,Miss Jerry,0,1894,45,Romance
tt0000147,5.2,355,The Corbett-Fitzsimmons Fight,0,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,20,"Documentary,News,Sport"
tt0000630,3.2,12,Hamlet,0,Hamlet,Amleto,0,1908,\N,Drama
tt0000679,5.2,37,The Fairylogue and Radio-Plays,0,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,120,"Adventure,Fantasy"
tt0000886,5.1,21,"Hamlet, Prince of Denmark",0,"Hamlet, Prince of Denmark",Hamlet,0,1910,\N,Drama
...,...,...,...,...,...,...,...,...,...,...
tt9906644,6.8,471,Manoharam,0,Manoharam,Manoharam,0,2019,122,"Comedy,Drama"
tt9909228,5.8,20,Ximei,0,Ximei,Ximei,0,2019,98,Documentary
tt9913056,7.0,21,Swarm Season,0,Swarm Season,Swarm Season,0,2019,86,Documentary
tt9913660,5.3,35,No Apology,0,No Apology,No Apology,0,2019,102,Drama
tt9914642,8.2,26,Albatross,0,Albatross,Albatross,0,2017,97,Documentary

In [31]:
df = df.reset_index().drop_duplicates(subset='index').set_index('index')

In [32]:
genre = df['genres'].str.get_dummies(sep=',')
genre

,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,...,News,Reality-TV,Romance,Sci-Fi,Sport,Talk-Show,Thriller,War,Western,\N
index,,,,,,,,,,,,,,,,,,,,,
tt0000009,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
tt0000147,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
tt0000630,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
tt0000679,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000886,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9906644,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
tt9909228,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
tt9913056,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
tt9913660,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
tt9914642,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
genre = genre.iloc[:, :-1]
genre

,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,...,Mystery,News,Reality-TV,Romance,Sci-Fi,Sport,Talk-Show,Thriller,War,Western
index,,,,,,,,,,,,,,,,,,,,,
tt0000009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
tt0000147,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,1,0,0,0,0
tt0000630,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
tt0000679,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000886,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9906644,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
tt9909228,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
tt9913056,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
tt9913660,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
tt9914642,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
years = pd.get_dummies(df.startYear)
years =  years.iloc[:, :-1]
years

,1894,1897,1908,1909,1910,1911,1912,1913,1914,1915,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
index,,,,,,,,,,,,,,,,,,,,,
tt0000009,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000147,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000630,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000679,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000886,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9906644,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9909228,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9913056,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9913660,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9914642,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [36]:
y = df.iloc[:, 0].values
y

array([5.9, 5.2, 3.2, ..., 7. , 5.3, 8.2])

In [37]:
X = df[['numVotes', 'isOriginalTitle', 'isAdult', 'runtimeMinutes']]
X = X.join(genre)
X = X.join(years)
X

,numVotes,isOriginalTitle,isAdult,runtimeMinutes,Action,Adult,Adventure,Animation,Biography,Comedy,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
index,,,,,,,,,,,,,,,,,,,,,
tt0000009,154,0,0,45,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000147,355,0,0,20,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000630,12,0,0,\N,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000679,37,0,0,120,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000886,21,0,0,\N,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9906644,471,0,0,122,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
tt9909228,20,0,0,98,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9913056,21,0,0,86,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9913660,35,0,0,102,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9914642,26,0,0,97,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [38]:
X.replace('\\N', np.nan, inplace = True)

In [39]:
X.runtimeMinutes.isna().value_counts()

False    91564
True      6051
Name: runtimeMinutes, dtype: int64

In [40]:
X['runtimeMinutes'] = X['runtimeMinutes'].astype(float)
X.dtypes

numVotes             int64
isOriginalTitle      int64
isAdult              int64
runtimeMinutes     float64
Action               int64
                    ...
2017                 uint8
2018                 uint8
2019                 uint8
2020                 uint8
2021                 uint8
Length: 235, dtype: object

In [41]:
X.fillna(X.mean(), inplace = True)

We have our datasets

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=13)

In [43]:
X_train.shape

(73211, 235)

In [44]:
y_test.shape

(24404,)

In [45]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = pd.DataFrame(sc_X.fit_transform(X_train))
X_test = pd.DataFrame(sc_X.transform(X_test))

## Multiple Linear Regression

In [46]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [47]:
yhat = lr.predict(X_test)

In [48]:
X.shape

(97615, 235)

In [49]:
import statsmodels.regression.linear_model as sm
X = np.append(arr = np.ones((97615, 1)).astype(int), values = X, axis=1)
X = pd.DataFrame(X)
X.head()

,0,1,2,3,4,5,6,7,8,9,...,226,227,228,229,230,231,232,233,234,235
0,1.0,154.0,0.0,0.0,45.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,355.0,0.0,0.0,20.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,12.0,0.0,0.0,91.597615,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,37.0,0.0,0.0,120.000000,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,21.0,0.0,0.0,91.597615,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [149]:
X_opt = X
statreg = sm.OLS(endog = y, exog = X_opt).fit()
statreg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.252
Model:                            OLS   Adj. R-squared:                  0.250
Method:                 Least Squares   F-statistic:                     139.5
Date:                Tue, 01 Sep 2020   Prob (F-statistic):               0.00
Time:                        10:56:04   Log-Likelihood:            -1.5443e+05
No. Observations:               97615   AIC:                         3.093e+05
Df Residuals:                   97379   BIC:                         3.116e+05
Df Model:                         235
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
0              7.1881      0.481     14.936      0.000       6.245       8.131
1           4.135e-06    8.3e-08     49.810      0.000    3.97e-06     4.3e-06
2             -0.0732      0.590     -0.124      0.901      -1.229       1.082
3             -0.7057      0.117     -6.039      0.000      -0.935      -0.477
4           6.665e-05   2.26e-05      2.946      0.003    2.23e-05       0.000
5             -0.3128      0.012    -25.311      0.000      -0.337      -0.289
6              0.5580      0.120      4.659      0.000       0.323       0.793
7             -0.2106      0.014    -14.561      0.000      -0.239      -0.182
8              0.3356      0.029     11.732      0.000       0.280       0.392
9              0.2269      0.021     10.885      0.000       0.186       0.268
10             0.0157      0.010      1.554      0.120      -0.004       0.036
11            -0.0436      0.013     -3.289      0.001      -0.070      -0.018
12             1.2660      0.014     88.649      0.000       1.238       1.294
13             0.3195      0.010     33.512      0.000       0.301       0.338
14            -0.0499      0.021     -2.379      0.017      -0.091      -0.009
15            -0.0372      0.021     -1.742      0.081      -0.079       0.005
16             0.0964      0.046      2.103      0.035       0.007       0.186
17             3.0673      1.179      2.602      0.009       0.757       5.378
18             0.1531      0.023      6.649      0.000       0.108       0.198
19            -0.9160      0.014    -65.908      0.000      -0.943      -0.889
20             0.1953      0.021      9.206      0.000       0.154       0.237
21             0.1047      0.028      3.795      0.000       0.051       0.159
22             0.0964      0.018      5.360      0.000       0.061       0.132
23            -0.0313      0.062     -0.508      0.612      -0.152       0.090
24            -0.7354      0.295     -2.492      0.013      -1.314      -0.157
25            -0.0128      0.012     -1.035      0.301      -0.037       0.011
26            -0.4910      0.021    -23.848      0.000      -0.531      -0.451
27             0.0244      0.031      0.798      0.425      -0.035       0.084
28            -0.2712      0.681     -0.398      0.690      -1.606       1.063
29            -0.2775      0.014    -20.342      0.000      -0.304      -0.251
30             0.0446      0.026      1.710      0.087      -0.007       0.096
31            -0.0907      0.023     -3.947      0.000      -0.136      -0.046
32            -1.2790      1.273     -1.005      0.315      -3.774       1.216
33            -3.2500      1.275     -2.549      0.011      -5.749      -0.751
34            -3.0312      0.962     -3.150      0.002      -4.918      -1.145
35            -2.4881      1.273     -1.954      0.051      -4.984       0.008
36            -1.9982      0.714     -2.800      0.005      -3.397      -0.599
37            -1.8246      0.609     -2.998      0.003      -3.018      -0.632
38            -2.2065      0.609     -3.625      0.000      -3.399      -1.014
39            -1.2855      0.523     -2.457      0.014      -2.311      -0.260
40            -1.5381      0.495     -3.108      0.002      -2.508      -0.568
41            -1.3580      0.492     -2.761      0.006      -2.322      -0.394
42            -1.2181      0.492     -2.475      0.013      -2.183      -0.254
43            -1.0941      0.492     -2.224      0.026      -2.058      -0.130
44            -1.0725      0.491     -2.182      0.029      -2.036      -0.109
45            -1.2627      0.490     -2.578      0.010      -2.223      -0.303
46            -1.2321      0.490     -2.515      0.012      -2.192      -0.272
47            -1.1520      0.490     -2.349      0.019      -2.113      -0.191
48            -1.2881      0.491     -2.622      0.009      -2.251      -0.325
49            -1.1742      0.490     -2.394      0.017      -2.135      -0.213
50            -1.0802      0.489     -2.208      0.027      -2.039      -0.121
51            -1.0587      0.487     -2.175      0.030      -2.013      -0.105
52            -0.9273      0.486     -1.907      0.057      -1.880       0.026
53            -1.1120      0.487     -2.284      0.022      -2.066      -0.158
54            -0.8662      0.486     -1.781      0.075      -1.819       0.087
55            -1.1142      0.486     -2.294      0.022      -2.066      -0.162
56            -1.3098      0.485     -2.701      0.007      -2.260      -0.360
57            -1.1637      0.484     -2.402      0.016      -2.113      -0.214
58            -1.0767      0.484     -2.225      0.026      -2.025      -0.128
59            -1.0166      0.484     -2.100      0.036      -1.966      -0.068
60            -1.1793      0.484     -2.437      0.015      -2.128      -0.231
61            -1.1391      0.484     -2.355      0.019      -2.087      -0.191
62            -1.0754      0.483     -2.224      0.026      -2.023      -0.128
63            -1.0354      0.484     -2.141      0.032      -1.983      -0.088
64            -1.0444      0.484     -2.159      0.031      -1.992      -0.096
65            -0.9758      0.484     -2.018      0.044      -1.924      -0.028
66            -0.9184      0.484     -1.898      0.058      -1.867       0.030
67            -0.9386      0.484     -1.940      0.052      -1.887       0.010
68            -1.0189      0.484     -2.106      0.035      -1.967      -0.070
69            -0.9396      0.484     -1.940      0.052      -1.889       0.010
70            -0.9753      0.485     -2.013      0.044      -1.925      -0.026
71            -0.9478      0.485     -1.955      0.051      -1.898       0.002
72            -0.8863      0.484     -1.829      0.067      -1.836       0.063
73            -0.7771      0.485     -1.603      0.109      -1.727       0.173
74            -0.7759      0.484     -1.602      0.109      -1.725       0.174
75            -0.8134      0.485     -1.679      0.093      -1.763       0.136
76            -0.9660      0.484     -1.995      0.046      -1.915      -0.017
77            -0.8724      0.484     -1.801      0.072      -1.822       0.077
78            -0.8925      0.484     -1.843      0.065      -1.842       0.057
79            -0.9992      0.484     -2.063      0.039      -1.948      -0.050
80            -1.0048      0.485     -2.073      0.038      -1.955      -0.055
81            -0.9944      0.485     -2.051      0.040      -1.945      -0.044
82            -1.0495      0.485     -2.165      0.030      -1.999      -0.099
83            -0.9929      0.484     -2.050      0.040      -1.942      -0.044
84            -1.0384      0.485     -2.143      0.032      -1.988      -0.089
85            -1.0331      0.485     -2.131      0.033      -1.983      -0.083
86            -0.9918      0.485     -2.045      0.041      -1.942      -0.041
87            -1.0957      0.485     -2.261      0.024      -2.046      -0.146
88            -0.9977      0.485     -2.058      0.040      -1.948      -0.048
89            -1.0161      0.485     -2.096      0.036      -1.967      -0.066
90            -1.1705      0.485     -2.415      0.016      -2.120      -0.221
91            -1.1391      0.485     -2.351      0.019      -2.089      -0.189
92            -1.0872      0.484     -2.245      0.025      -2.037      -0.138
93            -1.1233      0.484     -2.319      0.020      -2.073      -0.174
94            -1.1832      0.484     -2.443      0.015      -2.133      -0.234
95            -1.3269      0.484     -2.740      0.006      -2.276      -0.378
96            -1.2738      0.484     -2.630      0.009      -2.223      -0.324
97            -1.3704      0.493     -2.777      0.005      -2.338      -0.403
98            -1.7821      0.575     -3.099      0.002      -2.909      -0.655
99            -1.6323      0.598     -2.729      0.006      -2.805      -0.460
100           -1.9648      0.833     -2.357      0.018      -3.598      -0.331
101           -2.0846      1.273     -1.637      0.102      -4.580       0.411
102           -2.4893      0.962     -2.586      0.010      -4.376      -0.603
103           -1.2019      1.273     -0.944      0.345      -3.697       1.293
104           -1.1090      1.273     -0.871      0.384      -3.605       1.387
105           -1.0612      1.273     -0.833      0.405      -3.557       1.434
106           -0.0652      1.273     -0.051      0.959      -2.561       2.430
107           -0.4104      1.273     -0.322      0.747      -2.906       2.085
108           -0.5758      1.273     -0.452      0.651      -3.071       1.920
109            0.1612      1.273      0.127      0.899      -2.334       2.656
110           -1.0828      1.273     -0.850      0.395      -3.578       1.413
111           -0.5356      1.273     -0.421      0.674      -3.031       1.960
112           -3.9534      1.275     -3.101      0.002      -6.452      -1.455
113           -3.4063      0.582     -5.855      0.000      -4.547      -2.266
114           -3.5572      0.715     -4.976      0.000      -4.958      -2.156
115           -2.4602      0.656     -3.751      0.000      -3.746      -1.175
116           -2.9395      0.962     -3.054      0.002      -4.826      -1.053
117           -3.7274      0.962     -3.873      0.000      -5.614      -1.841
118           -3.4541      0.962     -3.589      0.000      -5.340      -1.568
119           -3.1598      1.273     -2.482      0.013      -5.655      -0.665
120           -3.9128      0.963     -4.062      0.000      -5.801      -2.025
121           -1.7988      0.833     -2.158      0.031      -3.432      -0.165
122           -1.3065      0.962     -1.357      0.175      -3.193       0.580
123           -2.0504      0.761     -2.695      0.007      -3.542      -0.559
124           -1.9064      0.656     -2.907      0.004      -3.192      -0.621
125           -2.8862      0.681     -4.241      0.000      -4.220      -1.552
126           -1.8203      0.681     -2.675      0.007      -3.154      -0.487
127           -1.6489      0.564     -2.922      0.003      -2.755      -0.543
128           -1.7723      0.582     -3.046      0.002      -2.913      -0.632
129           -1.7203      0.598     -2.876      0.004      -2.893      -0.548
130           -1.5499      0.536     -2.893      0.004      -2.600      -0.500
131           -1.6906      0.529     -3.198      0.001      -2.727      -0.654
132           -1.7298      0.575     -3.008      0.003      -2.857      -0.603
133           -1.4706      0.575     -2.557      0.011      -2.598      -0.343
134           -1.6801      0.540     -3.109      0.002      -2.739      -0.621
135           -1.0449      0.543     -1.925      0.054      -2.109       0.019
136           -1.5693      0.637     -2.465      0.014      -2.817      -0.322
137           -1.9240      0.589     -3.265      0.001      -3.079      -0.769
138           -1.6033      0.609     -2.634      0.008      -2.796      -0.410
139           -1.6009      0.560     -2.860      0.004      -2.698      -0.504
140           -1.4442      0.560     -2.580      0.010      -2.541      -0.347
141           -0.9855      0.598     -1.647      0.099      -2.158       0.187
142           -1.2152      0.560     -2.171      0.030      -2.312      -0.118
143           -1.1825      0.589     -2.006      0.045      -2.338      -0.027
144           -1.4838      0.560     -2.651      0.008      -2.581      -0.387
145           -1.3009      0.552     -2.357      0.018      -2.383      -0.219
146           -1.6258      0.540     -3.009      0.003      -2.685      -0.567
147           -1.5474      0.530     -2.918      0.004      -2.587      -0.508
148           -1.7462      0.520     -3.360      0.001      -2.765      -0.727
149           -1.6316      0.519     -3.145      0.002      -2.648      -0.615
150           -1.3706      0.530     -2.585      0.010      -2.410      -0.331
151           -1.0872      0.532     -2.044      0.041      -2.130      -0.045
152           -1.0970      0.524     -2.092      0.036      -2.125      -0.069
153           -0.9166      0.534     -1.717      0.086      -1.963       0.130
154           -1.4647      0.552     -2.654      0.008      -2.547      -0.383
155           -1.1095      0.538     -2.062      0.039      -2.164      -0.055
156           -1.3158      0.552     -2.384      0.017      -2.398      -0.234
157           -1.2607      0.529     -2.385      0.017      -2.297      -0.225
158           -1.4553      0.560     -2.600      0.009      -2.553      -0.358
159           -1.1920      0.534     -2.232      0.026      -2.238      -0.145
160           -1.6696      0.552     -3.025      0.002      -2.751      -0.588
161           -1.0109      0.534     -1.893      0.058      -2.057       0.036
162           -1.1239      0.546     -2.060      0.039      -2.193      -0.054
163           -0.8535      0.538     -1.586      0.113      -1.908       0.201
164           -1.6403      0.530     -3.093      0.002      -2.680      -0.601
165           -1.3225      0.530     -2.494      0.013      -2.362      -0.283
166           -1.2329      0.549     -2.247      0.025      -2.308      -0.158
167           -1.4796      0.520     -2.847      0.004      -2.498      -0.461
168           -1.6053      0.516     -3.111      0.002      -2.617      -0.594
169           -0.8571      0.526     -1.630      0.103      -1.887       0.173
170           -1.1516      0.523     -2.202      0.028      -2.177      -0.126
171           -1.1469      0.516     -2.223      0.026      -2.158      -0.136
172           -0.9410      0.518     -1.817      0.069      -1.956       0.074
173           -1.1730      0.505     -2.322      0.020      -2.163      -0.183
174           -1.2071      0.508     -2.375      0.018      -2.203      -0.211
175           -1.1544      0.505     -2.286      0.022      -2.144      -0.164
176           -1.2519      0.500     -2.502      0.012      -2.233      -0.271
177           -1.4530      0.499     -2.914      0.004      -2.430      -0.476
178           -1.3851      0.493     -2.809      0.005      -2.352      -0.419
179           -1.3693      0.494     -2.772      0.006      -2.337      -0.401
180           -1.3780      0.495     -2.784      0.005      -2.348      -0.408
181           -1.1474      0.494     -2.324      0.020      -2.115      -0.180
182           -1.3595      0.491     -2.769      0.006      -2.322      -0.397
183           -1.5619      0.490     -3.188      0.001      -2.522      -0.602
184           -1.7825      0.486     -3.664      0.000      -2.736      -0.829
185           -1.4818      0.483     -3.065      0.002      -2.429      -0.534
186           -1.3471      0.483     -2.788      0.005      -2.294      -0.400
187           -1.2945      0.483     -2.679      0.007      -2.242      -0.347
188           -1.2675      0.483     -2.622      0.009      -2.215      -0.320
189           -1.3137      0.483     -2.717      0.007      -2.261      -0.366
190           -1.3321      0.483     -2.756      0.006      -2.279      -0.385
191           -1.2481      0.484     -2.581      0.010      -2.196      -0.300
192           -1.2974      0.483     -2.684      0.007      -2.245      -0.350
193           -1.2542      0.483     -2.595      0.009      -2.202      -0.307
194           -1.1344      0.484     -2.345      0.019      -2.082      -0.186
195           -1.0957      0.483     -2.266      0.023      -2.043      -0.148
196           -1.1685      0.484     -2.416      0.016      -2.116      -0.221
197           -1.1438      0.483     -2.366      0.018      -2.091      -0.196
198           -1.2543      0.483     -2.595      0.009      -2.202      -0.307
199           -1.2232      0.483     -2.531      0.011      -2.170      -0.276
200           -1.2550      0.483     -2.597      0.009      -2.202      -0.308
201           -1.3132      0.483     -2.718      0.007      -2.260      -0.366
202           -1.3763      0.483     -2.849      0.004      -2.323      -0.430
203           -1.3926      0.485     -2.873      0.004      -2.343      -0.442
204           -1.4662      0.486     -3.018      0.003      -2.418      -0.514
205           -1.3528      0.483     -2.799      0.005      -2.300      -0.405
206           -1.2874      0.483     -2.665      0.008      -2.234      -0.340
207           -1.4065      0.483     -2.911      0.004      -2.353      -0.460
208           -1.5135      0.483     -3.133      0.002      -2.460      -0.567
209           -1.5608      0.485     -3.217      0.001      -2.512      -0.610
210           -1.1675      0.487     -2.396      0.017      -2.122      -0.213
211           -1.2722      0.486     -2.620      0.009      -2.224      -0.320
212           -1.3179      0.483     -2.726      0.006      -2.265      -0.370
213           -1.4228      0.483     -2.949      0.003      -2.369      -0.477
214           -1.4217      0.482     -2.947      0.003      -2.367      -0.476
215           -1.3031      0.482     -2.702      0.007      -2.248      -0.358
216           -1.2876      0.482     -2.670      0.008      -2.233      -0.343
217           -1.2788      0.482     -2.652      0.008      -2.224      -0.334
218           -1.2215      0.482     -2.534      0.011      -2.166      -0.277
219           -1.2024      0.482     -2.495      0.013      -2.147      -0.258
220           -1.2919      0.482     -2.681      0.007      -2.236      -0.347
221           -1.2670      0.482     -2.629      0.009      -2.211      -0.323
222           -1.2604      0.482     -2.616      0.009      -2.205      -0.316
223           -1.2447      0.482     -2.584      0.010      -2.189      -0.301
224           -1.2486      0.482     -2.592      0.010      -2.193      -0.305
225           -1.2505      0.482     -2.596      0.009      -2.195      -0.306
226           -1.2355      0.482     -2.565      0.010      -2.180      -0.292
227           -1.2641      0.482     -2.625      0.009      -2.208      -0.320
228           -1.2352      0.482     -2.565      0.010      -2.179      -0.291
229           -1.2986      0.482     -2.696      0.007      -2.243      -0.355
230           -1.2505      0.482     -2.597      0.009      -2.194      -0.307
231           -1.3035      0.482     -2.707      0.007      -2.247      -0.360
232           -1.3701      0.482     -2.845      0.004      -2.314      -0.426
233           -1.2864      0.482     -2.671      0.008      -2.230      -0.343
234           -1.1798      0.482     -2.445      0.014      -2.125      -0.234
235            0.4019      1.273      0.316      0.752      -2.093       2.897
==============================================================================
Omnibus:                     4698.952   Durbin-Watson:                   1.973
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6431.757

Now we have to remove all features that have a p-value lesser than our chosen significance level (90%).

Given that we know multiple other factors that affect movie ratings from budget to lead actors, we know that the model will not be able to explain a lot of the variance in the data.

In [150]:
sl = 0.1
pValues = statreg.summary2().tables[1]['P>|t|']

In [151]:
pValues = pValues.sort_values(ascending=False)
pValues = pValues.reset_index()
pValues.columns = ['features', 'p-value']

In [152]:
feature_val = pValues.iloc[0, 0]
sig_val = pValues.iloc[0,1]
adj_r = statreg.summary2().tables[0][3][0]
print(feature_val, ', ' , sig_val)

106 ,  0.9591706497217531

In [153]:
while sl < sig_val:
    print('comparing: ', sl, ' < ', sig_val, 'and dropping column', feature_val, 'with adjusted R-squared = ', adj_r)
    X_opt = X_opt.drop(columns = [feature_val])
    statreg = sm.OLS(endog = y, exog = X_opt).fit()
    pValues = statreg.summary2().tables[1]['P>|t|']
    pValues = pValues.sort_values(ascending=False)
    pValues = pValues.reset_index()
    pValues.columns = ['features', 'p-value']
    feature_val = pValues.iloc[0, 0]
    sig_val = pValues.iloc[0,1]

comparing:  0.1  <  0.9591706497217531 and dropping column 106 with adjusted R-squared =  0.250
comparing:  0.1  <  0.9012398109935186 and dropping column 2 with adjusted R-squared =  0.250
comparing:  0.1  <  0.8923796814217273 and dropping column 109 with adjusted R-squared =  0.250
comparing:  0.1  <  0.7551390039585354 and dropping column 235 with adjusted R-squared =  0.250
comparing:  0.1  <  0.7077224113749832 and dropping column 107 with adjusted R-squared =  0.250
comparing:  0.1  <  0.6903538708843824 and dropping column 28 with adjusted R-squared =  0.250
comparing:  0.1  <  0.659709863899003 and dropping column 111 with adjusted R-squared =  0.250
comparing:  0.1  <  0.6638796198847117 and dropping column 108 with adjusted R-squared =  0.250
comparing:  0.1  <  0.6117284340158546 and dropping column 23 with adjusted R-squared =  0.250
comparing:  0.1  <  0.42632465441546985 and dropping column 105 with adjusted R-squared =  0.250
comparing:  0.1  <  0.4507920000824921 and dropping column 110 with adjusted R-squared =  0.250
comparing:  0.1  <  0.4698341669889299 and dropping column 104 with adjusted R-squared =  0.250
comparing:  0.1  <  0.451246535126162 and dropping column 103 with adjusted R-squared =  0.250
comparing:  0.1  <  0.4406827140558237 and dropping column 32 with adjusted R-squared =  0.250
comparing:  0.1  <  0.4235102746965702 and dropping column 27 with adjusted R-squared =  0.250
comparing:  0.1  <  0.308554561473834 and dropping column 122 with adjusted R-squared =  0.250
comparing:  0.1  <  0.3180757455898961 and dropping column 163 with adjusted R-squared =  0.250
comparing:  0.1  <  0.6636386712733409 and dropping column 74 with adjusted R-squared =  0.250
comparing:  0.1  <  0.917884697910212 and dropping column 73 with adjusted R-squared =  0.250
comparing:  0.1  <  0.6927927130530934 and dropping column 169 with adjusted R-squared =  0.250
comparing:  0.1  <  0.5793407495156668 and dropping column 75 with adjusted R-squared =  0.250
comparing:  0.1  <  0.5781811505491824 and dropping column 153 with adjusted R-squared =  0.250
comparing:  0.1  <  0.5823018794600309 and dropping column 141 with adjusted R-squared =  0.250
comparing:  0.1  <  0.43867496945580153 and dropping column 172 with adjusted R-squared =  0.250
comparing:  0.1  <  0.356701354508663 and dropping column 54 with adjusted R-squared =  0.250
comparing:  0.1  <  0.3803661248762946 and dropping column 161 with adjusted R-squared =  0.250
comparing:  0.1  <  0.3529133088619931 and dropping column 135 with adjusted R-squared =  0.250
comparing:  0.1  <  0.33130895903797175 and dropping column 77 with adjusted R-squared =  0.250
comparing:  0.1  <  0.31080213846576277 and dropping column 72 with adjusted R-squared =  0.250
comparing:  0.1  <  0.3281149698140162 and dropping column 78 with adjusted R-squared =  0.250
comparing:  0.1  <  0.3211938072202224 and dropping column 143 with adjusted R-squared =  0.250
comparing:  0.1  <  0.30851385662090636 and dropping column 25 with adjusted R-squared =  0.250
comparing:  0.1  <  0.2932279743144645 and dropping column 101 with adjusted R-squared =  0.250
comparing:  0.1  <  0.2889232754939313 and dropping column 151 with adjusted R-squared =  0.250
comparing:  0.1  <  0.2901651179102742 and dropping column 162 with adjusted R-squared =  0.250
comparing:  0.1  <  0.2882599702211035 and dropping column 155 with adjusted R-squared =  0.250
comparing:  0.1  <  0.2923242322375474 and dropping column 52 with adjusted R-squared =  0.250
comparing:  0.1  <  0.277495856964151 and dropping column 66 with adjusted R-squared =  0.250
comparing:  0.1  <  0.27020332665253616 and dropping column 152 with adjusted R-squared =  0.250
comparing:  0.1  <  0.2306968342501355 and dropping column 142 with adjusted R-squared =  0.250
comparing:  0.1  <  0.23512364671303101 and dropping column 69 with adjusted R-squared =  0.250
comparing:  0.1  <  0.2401653480720614 and dropping column 67 with adjusted R-squared =  0.250
comparing:  0.1  <  0.2796127396275559 and dropping column 71 with adjusted R-squared =  0.250
comparing:  0.1  <  0.20161224461826688 and dropping column 170 with adjusted R-squared =  0.250
comparing:  0.1  <  0.19909428351629782 and dropping column 166 with adjusted R-squared =  0.250
comparing:  0.1  <  0.19797210490700792 and dropping column 159 with adjusted R-squared =  0.250
comparing:  0.1  <  0.1848246351033242 and dropping column 121 with adjusted R-squared =  0.250
comparing:  0.1  <  0.1805540577607763 and dropping column 76 with adjusted R-squared =  0.250
comparing:  0.1  <  0.18995080910306952 and dropping column 171 with adjusted R-squared =  0.250
comparing:  0.1  <  0.19203721643721644 and dropping column 70 with adjusted R-squared =  0.250
comparing:  0.1  <  0.17940557872747312 and dropping column 35 with adjusted R-squared =  0.250
comparing:  0.1  <  0.16802368018268976 and dropping column 86 with adjusted R-squared =  0.250
comparing:  0.1  <  0.19794886792268684 and dropping column 65 with adjusted R-squared =  0.250
comparing:  0.1  <  0.1857262859207406 and dropping column 88 with adjusted R-squared =  0.250
comparing:  0.1  <  0.1947055427969108 and dropping column 81 with adjusted R-squared =  0.250
comparing:  0.1  <  0.2055756961664339 and dropping column 83 with adjusted R-squared =  0.250
comparing:  0.1  <  0.18860131912210087 and dropping column 79 with adjusted R-squared =  0.250
comparing:  0.1  <  0.20757803011642453 and dropping column 80 with adjusted R-squared =  0.250
comparing:  0.1  <  0.19341352002584108 and dropping column 89 with adjusted R-squared =  0.250
comparing:  0.1  <  0.1832202935683525 and dropping column 145 with adjusted R-squared =  0.250
comparing:  0.1  <  0.18466382085505942 and dropping column 44 with adjusted R-squared =  0.250
comparing:  0.1  <  0.17052191866027464 and dropping column 175 with adjusted R-squared =  0.250
comparing:  0.1  <  0.1710581802875406 and dropping column 59 with adjusted R-squared =  0.250
comparing:  0.1  <  0.17239287020774485 and dropping column 156 with adjusted R-squared =  0.250
comparing:  0.1  <  0.15876412186127362 and dropping column 85 with adjusted R-squared =  0.250
comparing:  0.1  <  0.16446138268783939 and dropping column 68 with adjusted R-squared =  0.250
comparing:  0.1  <  0.17322157669857988 and dropping column 43 with adjusted R-squared =  0.250
comparing:  0.1  <  0.16548746021610944 and dropping column 157 with adjusted R-squared =  0.250
comparing:  0.1  <  0.16296241830752026 and dropping column 173 with adjusted R-squared =  0.250
comparing:  0.1  <  0.1666136815535444 and dropping column 51 with adjusted R-squared =  0.250
comparing:  0.1  <  0.1730294898507948 and dropping column 50 with adjusted R-squared =  0.250
comparing:  0.1  <  0.16918061057625194 and dropping column 84 with adjusted R-squared =  0.250
comparing:  0.1  <  0.1442237909652471 and dropping column 136 with adjusted R-squared =  0.250
comparing:  0.1  <  0.14352152530795115 and dropping column 174 with adjusted R-squared =  0.250
comparing:  0.1  <  0.14361147459741677 and dropping column 100 with adjusted R-squared =  0.250
comparing:  0.1  <  0.12601702852895566 and dropping column 82 with adjusted R-squared =  0.250
comparing:  0.1  <  0.13899613323779875 and dropping column 63 with adjusted R-squared =  0.250
comparing:  0.1  <  0.13405446947468014 and dropping column 64 with adjusted R-squared =  0.250
comparing:  0.1  <  0.13432646833629158 and dropping column 39 with adjusted R-squared =  0.250
comparing:  0.1  <  0.1273093194340928 and dropping column 181 with adjusted R-squared =  0.250
comparing:  0.1  <  0.12361212684215667 and dropping column 165 with adjusted R-squared =  0.250
comparing:  0.1  <  0.12039960597443697 and dropping column 133 with adjusted R-squared =  0.250
comparing:  0.1  <  0.1034316763909898 and dropping column 140 with adjusted R-squared =  0.250

In [154]:
statreg.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                  Results: Ordinary least squares
====================================================================
Model:              OLS              Adj. R-squared:     0.250
Dependent Variable: y                AIC:                309275.6137
Date:               2020-09-01 11:08 BIC:                310727.3980
No. Observations:   97615            Log-Likelihood:     -1.5448e+05
Df Model:           152              F-statistic:        215.0
Df Residuals:       97462            Prob (F-statistic): 0.00
R-squared:          0.251            Scale:              1.3894
-----------------------------------------------------------------------
         Coef.     Std.Err.       t        P>|t|      [0.025     0.975]
-----------------------------------------------------------------------
0        6.2035      0.0145    428.9108    0.0000     6.1751     6.2318
1        0.0000      0.0000     49.7680    0.0000     0.0000     0.0000
3       -0.7062      0.1168     -6.0439    0.0000    -0.9352    -0.4772
4        0.0001      0.0000      2.9411    0.0033     0.0000     0.0001
5       -0.3084      0.0123    -25.0665    0.0000    -0.3325    -0.2843
6        0.5612      0.1198      4.6857    0.0000     0.3264     0.7959
7       -0.2091      0.0144    -14.4976    0.0000    -0.2374    -0.1809
8        0.3369      0.0286     11.7917    0.0000     0.2809     0.3929
9        0.2298      0.0208     11.0434    0.0000     0.1890     0.2706
10       0.0179      0.0101      1.7688    0.0769    -0.0019     0.0376
11      -0.0428      0.0132     -3.2458    0.0012    -0.0686    -0.0170
12       1.2673      0.0141     89.9892    0.0000     1.2397     1.2949
13       0.3199      0.0095     33.5966    0.0000     0.3013     0.3386
14      -0.0493      0.0209     -2.3549    0.0185    -0.0904    -0.0083
15      -0.0371      0.0213     -1.7396    0.0819    -0.0788     0.0047
16       0.1555      0.0446      3.4893    0.0005     0.0681     0.2428
17       3.0712      1.1790      2.6050    0.0092     0.7605     5.3820
18       0.1517      0.0230      6.6086    0.0000     0.1067     0.1967
19      -0.9152      0.0138    -66.2587    0.0000    -0.9423    -0.8881
20       0.2018      0.0211      9.5713    0.0000     0.1605     0.2432
21       0.1125      0.0275      4.0953    0.0000     0.0587     0.1663
22       0.0998      0.0179      5.5642    0.0000     0.0646     0.1349
24      -0.7571      0.2948     -2.5678    0.0102    -1.3350    -0.1792
26      -0.4917      0.0205    -23.9375    0.0000    -0.5320    -0.4515
29      -0.2760      0.0136    -20.2909    0.0000    -0.3026    -0.2493
30       0.0450      0.0259      1.7344    0.0828    -0.0058     0.0958
31      -0.0795      0.0228     -3.4882    0.0005    -0.1242    -0.0348
33      -2.2736      1.1788     -1.9287    0.0538    -4.5841     0.0369
34      -2.0475      0.8336     -2.4561    0.0140    -3.6814    -0.4135
36      -1.0136      0.5273     -1.9222    0.0546    -2.0472     0.0199
37      -0.8406      0.3729     -2.2539    0.0242    -1.5715    -0.1096
38      -1.2224      0.3729     -3.2777    0.0010    -1.9533    -0.4914
40      -0.5568      0.1161     -4.7968    0.0000    -0.7843    -0.3293
41      -0.3773      0.1020     -3.6983    0.0002    -0.5772    -0.1773
42      -0.2373      0.1035     -2.2917    0.0219    -0.4402    -0.0343
45      -0.2828      0.0915     -3.0899    0.0020    -0.4623    -0.1034
46      -0.2519      0.0924     -2.7266    0.0064    -0.4329    -0.0708
47      -0.1723      0.0956     -1.8028    0.0714    -0.3596     0.0150
48      -0.3087      0.0995     -3.1029    0.0019    -0.5038    -0.1137
49      -0.1947      0.0950     -2.0497    0.0404    -0.3808    -0.0085
53      -0.1340      0.0742     -1.8049    0.0711    -0.2795     0.0115
55      -0.1373      0.0676     -2.0323    0.0421    -0.2697    -0.0049
56      -0.3356      0.0599     -5.6047    0.0000    -0.4530    -0.2182
57      -0.1871      0.0566     -3.3045    0.0010    -0.2981    -0.0761
58      -0.0989      0.0529     -1.8685    0.0617    -0.2026     0.0048
60      -0.2026      0.0528     -3.8366    0.0001    -0.3061    -0.0991
61      -0.1636      0.0490     -3.3410    0.0008    -0.2596    -0.0676
62      -0.0991      0.0475     -2.0854    0.0370    -0.1923    -0.0060
87      -0.1151      0.0589     -1.9540    0.0507    -0.2306     0.0004
90      -0.1908      0.0585     -3.2629    0.0011    -0.3054    -0.0762
91      -0.1595      0.0581     -2.7441    0.0061    -0.2735    -0.0456
92      -0.1077      0.0563     -1.9140    0.0556    -0.2180     0.0026
93      -0.1443      0.0570     -2.5290    0.0114    -0.2561    -0.0325
94      -0.2034      0.0558     -3.6427    0.0003    -0.3129    -0.0940
95      -0.3467      0.0561     -6.1753    0.0000    -0.4567    -0.2366
96      -0.2935      0.0566     -5.1860    0.0000    -0.4044    -0.1826
97      -0.3894      0.1100     -3.5412    0.0004    -0.6049    -0.1739
98      -0.7992      0.3152     -2.5354    0.0112    -1.4170    -0.1814
99      -0.6495      0.3556     -1.8264    0.0678    -1.3464     0.0475
102     -1.5095      0.8337     -1.8106    0.0702    -3.1435     0.1246
112     -2.9770      1.1788     -2.5254    0.0116    -5.2875    -0.6665
113     -2.4227      0.3272     -7.4039    0.0000    -3.0640    -1.7813
114     -2.5772      0.5273     -4.8874    0.0000    -3.6107    -1.5436
115     -1.4806      0.4457     -3.3219    0.0009    -2.3542    -0.6070
116     -1.9433      0.8336     -2.3312    0.0197    -3.5771    -0.3095
117     -2.7434      0.8336     -3.2910    0.0010    -4.3772    -1.1095
118     -2.4696      0.8336     -2.9626    0.0031    -4.1034    -0.8358
119     -2.1764      1.1788     -1.8463    0.0649    -4.4870     0.1341
120     -2.9196      0.8336     -3.5025    0.0005    -4.5534    -1.2858
123     -1.0596      0.5895     -1.7973    0.0723    -2.2151     0.0959
124     -0.9154      0.4457     -2.0537    0.0400    -1.7890    -0.0418
125     -1.9055      0.4814     -3.9585    0.0001    -2.8490    -0.9620
126     -0.8385      0.4814     -1.7419    0.0815    -1.7819     0.1050
127     -0.6665      0.2949     -2.2599    0.0238    -1.2446    -0.0885
128     -0.7892      0.3271     -2.4123    0.0159    -1.4304    -0.1480
129     -0.7377      0.3556     -2.0746    0.0380    -1.4347    -0.0408
130     -0.5684      0.2360     -2.4083    0.0160    -1.0309    -0.1058
131     -0.7062      0.2192     -3.2224    0.0013    -1.1358    -0.2767
132     -0.7481      0.3152     -2.3733    0.0176    -1.3660    -0.1303
134     -0.6999      0.2460     -2.8446    0.0044    -1.1821    -0.2177
137     -0.9443      0.3405     -2.7736    0.0055    -1.6116    -0.2770
138     -0.6233      0.3729     -1.6714    0.0946    -1.3542     0.1076
139     -0.6232      0.2861     -2.1782    0.0294    -1.1840    -0.0624
144     -0.5027      0.2861     -1.7571    0.0789    -1.0634     0.0580
146     -0.6472      0.2460     -2.6307    0.0085    -1.1294    -0.1650
147     -0.5656      0.2230     -2.5363    0.0112    -1.0028    -0.1285
148     -0.7669      0.1967     -3.8981    0.0001    -1.1525    -0.3813
149     -0.6532      0.1941     -3.3656    0.0008    -1.0336    -0.2728
150     -0.3903      0.2230     -1.7503    0.0801    -0.8274     0.0468
154     -0.4836      0.2706     -1.7867    0.0740    -1.0140     0.0469
158     -0.4731      0.2863     -1.6525    0.0984    -1.0343     0.0880
160     -0.6900      0.2706     -2.5495    0.0108    -1.2204    -0.1595
164     -0.6614      0.2230     -2.9657    0.0030    -1.0984    -0.2243
167     -0.4981      0.1967     -2.5319    0.0113    -0.8837    -0.1125
168     -0.6227      0.1867     -3.3345    0.0009    -0.9887    -0.2567
176     -0.2705      0.1374     -1.9683    0.0490    -0.5399    -0.0011
177     -0.4709      0.1314     -3.5828    0.0003    -0.7285    -0.2133
178     -0.4032      0.1081     -3.7288    0.0002    -0.6151    -0.1913
179     -0.3875      0.1119     -3.4628    0.0005    -0.6068    -0.1682
180     -0.3967      0.1166     -3.4010    0.0007    -0.6253    -0.1681
182     -0.3772      0.0985     -3.8299    0.0001    -0.5702    -0.1842
183     -0.5799      0.0930     -6.2371    0.0000    -0.7621    -0.3977
184     -0.8016      0.0722    -11.0977    0.0000    -0.9431    -0.6600
185     -0.5012      0.0480    -10.4439    0.0000    -0.5952    -0.4071
186     -0.3670      0.0451     -8.1316    0.0000    -0.4555    -0.2786
187     -0.3137      0.0452     -6.9401    0.0000    -0.4023    -0.2251
188     -0.2866      0.0471     -6.0891    0.0000    -0.3789    -0.1944
189     -0.3330      0.0479     -6.9546    0.0000    -0.4268    -0.2391
190     -0.3513      0.0467     -7.5268    0.0000    -0.4428    -0.2598
191     -0.2671      0.0486     -5.4975    0.0000    -0.3623    -0.1719
192     -0.3163      0.0475     -6.6637    0.0000    -0.4093    -0.2232
193     -0.2731      0.0476     -5.7344    0.0000    -0.3664    -0.1797
194     -0.1536      0.0503     -3.0525    0.0023    -0.2523    -0.0550
195     -0.1148      0.0482     -2.3799    0.0173    -0.2094    -0.0203
196     -0.1875      0.0493     -3.8037    0.0001    -0.2842    -0.0909
197     -0.1628      0.0483     -3.3699    0.0008    -0.2575    -0.0681
198     -0.2737      0.0476     -5.7492    0.0000    -0.3670    -0.1804
199     -0.2426      0.0463     -5.2444    0.0000    -0.3333    -0.1520
200     -0.2738      0.0462     -5.9244    0.0000    -0.3643    -0.1832
201     -0.3325      0.0440     -7.5627    0.0000    -0.4186    -0.2463
202     -0.3955      0.0437     -9.0513    0.0000    -0.4812    -0.3099
203     -0.4110      0.0598     -6.8678    0.0000    -0.5282    -0.2937
204     -0.4847      0.0681     -7.1229    0.0000    -0.6181    -0.3513
205     -0.3720      0.0475     -7.8393    0.0000    -0.4650    -0.2790
206     -0.3068      0.0451     -6.8105    0.0000    -0.3951    -0.2185
207     -0.4259      0.0451     -9.4407    0.0000    -0.5144    -0.3375
208     -0.5328      0.0437    -12.2046    0.0000    -0.6183    -0.4472
209     -0.5795      0.0634     -9.1460    0.0000    -0.7037    -0.4553
210     -0.1851      0.0771     -2.3998    0.0164    -0.3362    -0.0339
211     -0.2898      0.0669     -4.3336    0.0000    -0.4209    -0.1587
212     -0.3361      0.0482     -6.9681    0.0000    -0.4306    -0.2416
213     -0.4416      0.0376    -11.7322    0.0000    -0.5154    -0.3678
214     -0.4410      0.0353    -12.4836    0.0000    -0.5103    -0.3718
215     -0.3223      0.0337     -9.5734    0.0000    -0.3883    -0.2563
216     -0.3067      0.0331     -9.2589    0.0000    -0.3716    -0.2418
217     -0.2979      0.0329     -9.0454    0.0000    -0.3625    -0.2334
218     -0.2403      0.0312     -7.6931    0.0000    -0.3016    -0.1791
219     -0.2211      0.0293     -7.5442    0.0000    -0.2785    -0.1637
220     -0.3102      0.0280    -11.0850    0.0000    -0.3650    -0.2553
221     -0.2853      0.0277    -10.3077    0.0000    -0.3396    -0.2311
222     -0.2789      0.0260    -10.7201    0.0000    -0.3299    -0.2279
223     -0.2633      0.0244    -10.7996    0.0000    -0.3111    -0.2155
224     -0.2678      0.0248    -10.8112    0.0000    -0.3163    -0.2192
225     -0.2694      0.0241    -11.1876    0.0000    -0.3166    -0.2222
226     -0.2546      0.0238    -10.6928    0.0000    -0.3012    -0.2079
227     -0.2834      0.0236    -11.9908    0.0000    -0.3297    -0.2370
228     -0.2546      0.0230    -11.0581    0.0000    -0.2997    -0.2094
229     -0.3178      0.0232    -13.7121    0.0000    -0.3633    -0.2724
230     -0.2689      0.0224    -11.9902    0.0000    -0.3128    -0.2249
231     -0.3220      0.0219    -14.7123    0.0000    -0.3649    -0.2791
232     -0.3887      0.0218    -17.8644    0.0000    -0.4313    -0.3460
233     -0.3048      0.0225    -13.5403    0.0000    -0.3489    -0.2607
234     -0.1982      0.0371     -5.3474    0.0000    -0.2709    -0.1256
--------------------------------------------------------------------
Omnibus:             4727.059       Durbin-Watson:          1.972
Prob(Omnibus):       0.000          Jarque-Bera (JB):       6469.882
Skew:                -0.470         Prob(JB):               0.000
Kurtosis:            3.842          Condition No.:          14686227
====================================================================
* The condition number is large (1e+07). This might indicate
strong multicollinearity or other numerical problems.
"""

In [155]:
X_opt.shape

(97615, 153)

We have our model that explains 25% of the variance. This is a good model given our dataset and the way in which movie's are rated. One can easily conceive that factors such as budget, actors in lead roles, box office sales can all be helpful in prediciting the ratings of a movie. There are also external factors that affect movie ratings such as release date and much more.

In [ ]:
from sklearn.svm import SVR
svr_reg = SVR(kernel = 'rbf')
svr_reg.fit(X, y)

Takes too much time to run the model