## Problem

In this project I look to understand the predictability of a movie's rating based on some of the most basic factors like runtime, genre, directors. We will be looking at a large number of movies and seeing how we can model the ratings. To do this, we will be using IMDb's dataset on basic info, titles and ratings. 

Disclaimer: I personally think that such a model can only get you the basic trends and do not explain the full depth of the movie making process.

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data preprocessing

### a. Cleaning Titles dataset

In [2]:
titles = pd.read_csv('Titles.tsv', sep='\t')
titles.head()

C:\Users\zbtin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

1. Checking for null values

In [3]:
titles.title.isna().value_counts()

False    22543552
True            2
Name: title, dtype: int64

In [4]:
titles.titleId.isna().value_counts()

False    22543554
Name: titleId, dtype: int64

In [5]:
titles.region.isna().value_counts()

False    22543465
True           89
Name: region, dtype: int64

2. Removing null values

In [6]:
titles.dropna(inplace = True)

In [7]:
titles.shape

(22543463, 8)

In [8]:
titles.isOriginalTitle.value_counts()

0     13058629
0      9008568
1       374061
1       100070
\N        2135
Name: isOriginalTitle, dtype: int64

3. Standardizing the data in the isOriginalTitle Column

In [9]:
titles['isOriginalTitle'].replace('0', 0, inplace = True)
titles['isOriginalTitle'].replace('1', 1, inplace = True)
titles.isOriginalTitle.value_counts()

0     22067197
1       474131
\N        2135
Name: isOriginalTitle, dtype: int64

In [10]:
titles.region.value_counts().head(20)

FR     2789011
JP     2774882
DE     2743378
ES     2724525
IT     2711374
IN     2690382
PT     2662052
US     1060544
\N      533292
GB      277483
CA      133900
XWW     127899
BR       83975
AU       83058
GR       72032
MX       70984
FI       65493
RU       63537
HU       58550
PL       56332
Name: region, dtype: int64

Chloreopleth map can be created using this

In [11]:
titles.types.value_counts()

\N                      20893381
imdbDisplay               996495
original                  474132
alternative                70948
working                    44147
dvd                        19918
tv                         15707
video                      15478
festival                   12787
dvdimdbDisplay              232
imdbDisplaytv                70
festivalimdbDisplay          68
imdbDisplayworking           31
imdbDisplayvideo             25
alternativetv                 9
tvvideo                       6
alternativeworking            6
alternativedvd                6
videoworking                  5
tvworking                     4
festivalworking               3
alternativevideo              2
dvdvideo                      1
alternativefestival           1
dvdworking                    1
Name: types, dtype: int64

In [12]:
titles.language.value_counts().head(20)

\N     3830471
ja     2679053
fr     2644268
hi     2617721
es     2614816
de     2614694
it     2613618
pt     2613467
en      196422
ru       25468
bg       20587
tr       20066
cmn       9931
sv        7633
he        6412
qbn       4939
sr        3966
yue       3810
fa        2387
ca        2084
Name: language, dtype: int64

In [13]:
titles.attributes.value_counts()

\N                                   22350358
transliterated title                    24000
alternative spelling                    13215
literal English title                   12374
new title                               10512
                                       ...
cable TV titlecut version                  1
IMAX versionpromotional title              1
fourth season titlerecut version           1
fortieth season title                       1
first two episodes title                    1
Name: attributes, Length: 188, dtype: int64

Since language, attributes and type have a predominance of null values we will not be using them to estimate the ratings later

In [14]:
titles.drop(columns=['attributes', 'language', 'types'], inplace = True)

In [15]:
titles.shape

(22543463, 5)

### Cleaning of Ratings dataset

In [16]:
ratings = pd.read_csv('Ratings.tsv', sep='\t')
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1639
1  tt0000002            6.1       198
2  tt0000003            6.5      1331
3  tt0000004            6.2       120
4  tt0000005            6.1      2114

In [17]:
ratings.shape

(1059926, 3)

### Combining the two datasets

In [18]:
df = ratings.set_index('tconst').join(titles.set_index('titleId'), how='left')

In [19]:
df.shape

(2983481, 6)

In [20]:
df

,averageRating,numVotes,ordering,title,region,isOriginalTitle
tt0000001,5.6,1639,1.0,Карменсіта,UA,0
tt0000001,5.6,1639,2.0,Carmencita,DE,0
tt0000001,5.6,1639,3.0,Carmencita - spanyol tánc,HU,0
tt0000001,5.6,1639,4.0,Καρμενσίτα,GR,0
tt0000001,5.6,1639,5.0,Карменсита,RU,0
...,...,...,...,...,...,...
tt9916766,6.9,14,4.0,Folge #10.15,DE,0
tt9916766,6.9,14,5.0,Episódio #10.15,PT,0
tt9916766,6.9,14,6.0,एपिसोड #10.15,IN,0
tt9916766,6.9,14,7.0,Épisode #10.15,FR,0
tt9916778,7.3,24,NaN,NaN,NaN,NaN

We notice that the many movies have multiple entries, just diffenent title and region

Let's see which region has the most analyzable movies

In [21]:
df.region.value_counts()

US    390413
\N    326489
FR    145416
JP    133590
DE    128584
       ...
VC         1
VG         1
ST         1
NR         1
SB         1
Name: region, Length: 230, dtype: int64

Given the news IMDb contains it is not unexpected that the US region will dominate

We will concentrate on the movies based in the US as this has the largest number of movies that have a rating associated with them

In [22]:
US_region = df['region']=='US'
df = df[US_region]
df

,averageRating,numVotes,ordering,title,region,isOriginalTitle
tt0000001,5.6,1639,6.0,Carmencita,US,0
tt0000002,6.1,198,7.0,The Clown and His Dogs,US,0
tt0000005,6.1,2114,1.0,Blacksmithing Scene,US,0
tt0000005,6.1,2114,5.0,Blacksmith Scene #1,US,0
tt0000005,6.1,2114,6.0,Blacksmithing,US,0
...,...,...,...,...,...,...
tt9916200,8.3,158,1.0,The Great Experiment,US,0
tt9916204,8.1,183,1.0,Better Angels,US,0
tt9916348,9.3,13,1.0,Ancient World Exposed,US,0
tt9916720,6.1,56,10.0,The Demonic Nun,US,0
tt9916720,6.1,56,12.0,The Nun 2,US,0

Now we have an analyzable dataset, but ordering isn't telling us anything so let's remove it

In [23]:
df.drop(columns=['ordering'], inplace= True)
df

C:\Users\zbtin\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,averageRating,numVotes,title,region,isOriginalTitle
tt0000001,5.6,1639,Carmencita,US,0
tt0000002,6.1,198,The Clown and His Dogs,US,0
tt0000005,6.1,2114,Blacksmithing Scene,US,0
tt0000005,6.1,2114,Blacksmith Scene #1,US,0
tt0000005,6.1,2114,Blacksmithing,US,0
...,...,...,...,...,...
tt9916200,8.3,158,The Great Experiment,US,0
tt9916204,8.1,183,Better Angels,US,0
tt9916348,9.3,13,Ancient World Exposed,US,0
tt9916720,6.1,56,The Demonic Nun,US,0
tt9916720,6.1,56,The Nun 2,US,0

### Cleaning basic info dataset and combining it with the others

In [24]:
basics = pd.read_csv('Basics.tsv', sep='\t')
basics.head()

C:\Users\zbtin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [25]:
basics.shape

(7041952, 9)

In [26]:
df = df.join(basics.set_index('tconst'), how='left')
df

,averageRating,numVotes,title,region,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tt0000001,5.6,1639,Carmencita,US,0,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
tt0000002,6.1,198,The Clown and His Dogs,US,0,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
tt0000005,6.1,2114,Blacksmithing Scene,US,0,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
tt0000005,6.1,2114,Blacksmith Scene #1,US,0,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
tt0000005,6.1,2114,Blacksmithing,US,0,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9916200,8.3,158,The Great Experiment,US,0,tvEpisode,The Great Experiment,The Great Experiment,0,2019,\N,43,Drama
tt9916204,8.1,183,Better Angels,US,0,tvEpisode,Better Angels,Better Angels,0,2019,\N,42,Drama
tt9916348,9.3,13,Ancient World Exposed,US,0,video,Ancient World Exposed,Ancient World Exposed,0,2019,\N,67,History
tt9916720,6.1,56,The Demonic Nun,US,0,short,The Nun 2,The Nun 2,0,2019,\N,10,"Comedy,Horror,Mystery"
tt9916720,6.1,56,The Nun 2,US,0,short,The Nun 2,The Nun 2,0,2019,\N,10,"Comedy,Horror,Mystery"

In [27]:
df.titleType.value_counts()

movie           121613
tvEpisode        98318
short            59443
video            41774
tvSeries         30642
tvMovie          18723
tvSpecial         7411
videoGame         7315
tvMiniSeries      3312
tvShort           1862
Name: titleType, dtype: int64

We will only be looking at movies, as this is the dominant section of the data

In [28]:
movies = df['titleType']=='movie'
df = df[movies]
df

,averageRating,numVotes,title,region,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tt0000009,5.9,154,Miss Jerry,US,0,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
tt0000147,5.2,355,The Corbett-Fitzsimmons Fight,US,0,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport"
tt0000630,3.2,12,Hamlet,US,0,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
tt0000679,5.2,37,The Fairylogue and Radio-Plays,US,0,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,\N,120,"Adventure,Fantasy"
tt0000886,5.1,21,"Hamlet, Prince of Denmark",US,0,movie,"Hamlet, Prince of Denmark",Hamlet,0,1910,\N,\N,Drama
...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9906644,6.8,471,Manoharam,US,0,movie,Manoharam,Manoharam,0,2019,\N,122,"Comedy,Drama"
tt9909228,5.8,20,Ximei,US,0,movie,Ximei,Ximei,0,2019,\N,98,Documentary
tt9913056,7.0,21,Swarm Season,US,0,movie,Swarm Season,Swarm Season,0,2019,\N,86,Documentary
tt9913660,5.3,35,No Apology,US,0,movie,No Apology,No Apology,0,2019,\N,102,Drama
tt9914642,8.2,26,Albatross,US,0,movie,Albatross,Albatross,0,2017,\N,97,Documentary

In [29]:
df.drop(columns=['endYear'], inplace = True)
df

C:\Users\zbtin\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,averageRating,numVotes,title,region,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
tt0000009,5.9,154,Miss Jerry,US,0,movie,Miss Jerry,Miss Jerry,0,1894,45,Romance
tt0000147,5.2,355,The Corbett-Fitzsimmons Fight,US,0,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,20,"Documentary,News,Sport"
tt0000630,3.2,12,Hamlet,US,0,movie,Hamlet,Amleto,0,1908,\N,Drama
tt0000679,5.2,37,The Fairylogue and Radio-Plays,US,0,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,120,"Adventure,Fantasy"
tt0000886,5.1,21,"Hamlet, Prince of Denmark",US,0,movie,"Hamlet, Prince of Denmark",Hamlet,0,1910,\N,Drama
...,...,...,...,...,...,...,...,...,...,...,...,...
tt9906644,6.8,471,Manoharam,US,0,movie,Manoharam,Manoharam,0,2019,122,"Comedy,Drama"
tt9909228,5.8,20,Ximei,US,0,movie,Ximei,Ximei,0,2019,98,Documentary
tt9913056,7.0,21,Swarm Season,US,0,movie,Swarm Season,Swarm Season,0,2019,86,Documentary
tt9913660,5.3,35,No Apology,US,0,movie,No Apology,No Apology,0,2019,102,Drama
tt9914642,8.2,26,Albatross,US,0,movie,Albatross,Albatross,0,2017,97,Documentary

Let's remove the columns that we have multiple values and those that we have used for filtering, so removing directors, titleType and more

In [30]:
df.drop(columns = ['region', 'titleType'], inplace = True)
df

C:\Users\zbtin\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,averageRating,numVotes,title,isOriginalTitle,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
tt0000009,5.9,154,Miss Jerry,0,Miss Jerry,Miss Jerry,0,1894,45,Romance
tt0000147,5.2,355,The Corbett-Fitzsimmons Fight,0,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,20,"Documentary,News,Sport"
tt0000630,3.2,12,Hamlet,0,Hamlet,Amleto,0,1908,\N,Drama
tt0000679,5.2,37,The Fairylogue and Radio-Plays,0,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,120,"Adventure,Fantasy"
tt0000886,5.1,21,"Hamlet, Prince of Denmark",0,"Hamlet, Prince of Denmark",Hamlet,0,1910,\N,Drama
...,...,...,...,...,...,...,...,...,...,...
tt9906644,6.8,471,Manoharam,0,Manoharam,Manoharam,0,2019,122,"Comedy,Drama"
tt9909228,5.8,20,Ximei,0,Ximei,Ximei,0,2019,98,Documentary
tt9913056,7.0,21,Swarm Season,0,Swarm Season,Swarm Season,0,2019,86,Documentary
tt9913660,5.3,35,No Apology,0,No Apology,No Apology,0,2019,102,Drama
tt9914642,8.2,26,Albatross,0,Albatross,Albatross,0,2017,97,Documentary

In [61]:
df = df.reset_index().drop_duplicates(subset='index').set_index('index')

In [62]:
genre = df['genres'].str.get_dummies(sep=',')
genre

,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,...,News,Reality-TV,Romance,Sci-Fi,Sport,Talk-Show,Thriller,War,Western,\N
index,,,,,,,,,,,,,,,,,,,,,
tt0000009,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
tt0000147,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
tt0000630,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
tt0000679,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000886,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9906644,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
tt9909228,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
tt9913056,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
tt9913660,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
tt9914642,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
genre = genre.iloc[:, :-]
genre

,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,...,Mystery,News,Reality-TV,Romance,Sci-Fi,Sport,Talk-Show,Thriller,War,Western
index,,,,,,,,,,,,,,,,,,,,,
tt0000009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
tt0000147,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,1,0,0,0,0
tt0000630,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
tt0000679,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000886,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9906644,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
tt9909228,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
tt9913056,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
tt9913660,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
tt9914642,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
years = pd.get_dummies(df.startYear)
years =  years.iloc[:, :-1]
years

,1894,1897,1908,1909,1910,1911,1912,1913,1914,1915,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
index,,,,,,,,,,,,,,,,,,,,,
tt0000009,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000147,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000630,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000679,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000886,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9906644,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9909228,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9913056,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9913660,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9914642,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [65]:
y = df.iloc[:, 0].values
y

array([5.9, 5.2, 3.2, ..., 7. , 5.3, 8.2])

In [66]:
X = df[['numVotes', 'isOriginalTitle', 'isAdult', 'runtimeMinutes']]
X = X.join(genre)
X = X.join(years)
X

,numVotes,isOriginalTitle,isAdult,runtimeMinutes,Action,Adult,Adventure,Animation,Biography,Comedy,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
index,,,,,,,,,,,,,,,,,,,,,
tt0000009,154,0,0,45,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000147,355,0,0,20,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000630,12,0,0,\N,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000679,37,0,0,120,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000886,21,0,0,\N,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9906644,471,0,0,122,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
tt9909228,20,0,0,98,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9913056,21,0,0,86,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9913660,35,0,0,102,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9914642,26,0,0,97,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [78]:
X.replace('\\N', np.nan, inplace = True)

,numVotes,isOriginalTitle,isAdult,runtimeMinutes,Action,Adult,Adventure,Animation,Biography,Comedy,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
index,,,,,,,,,,,,,,,,,,,,,
tt0000009,154,0,0,45,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000147,355,0,0,20,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000630,12,0,0,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000679,37,0,0,120,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000886,21,0,0,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9906644,471,0,0,122,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
tt9909228,20,0,0,98,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9913056,21,0,0,86,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9913660,35,0,0,102,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9914642,26,0,0,97,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [88]:
X.runtimeMinutes.isna().value_counts()

False    91564
True      6051
Name: runtimeMinutes, dtype: int64

In [98]:
X['runtimeMinutes'] = X['runtimeMinutes'].astype(float)
X.dtypes

numVotes             int64
isOriginalTitle      int64
isAdult              int64
runtimeMinutes     float64
Action               int64
                    ...
2017                 uint8
2018                 uint8
2019                 uint8
2020                 uint8
2021                 uint8
Length: 235, dtype: object

In [99]:
X.fillna(X.mean(), inplace = True)

,numVotes,isOriginalTitle,isAdult,runtimeMinutes,Action,Adult,Adventure,Animation,Biography,Comedy,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
index,,,,,,,,,,,,,,,,,,,,,
tt0000009,154,0,0,45.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000147,355,0,0,20.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000630,12,0,0,91.597615,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000679,37,0,0,120.000000,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000886,21,0,0,91.597615,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9906644,471,0,0,122.000000,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
tt9909228,20,0,0,98.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9913056,21,0,0,86.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9913660,35,0,0,102.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
tt9914642,26,0,0,97.000000,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

We have our datasets

In [100]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=13)

In [101]:
X_train.shape

(73211, 235)

In [102]:
y_test.shape

(24404,)

In [107]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = pd.DataFrame(sc_X.fit_transform(X_train))
X_test = pd.DataFrame(sc_X.transform(X_test))

## Multiple Linear Regression

In [108]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [109]:
yhat = lr.predict(X_test)

In [110]:
X.shape

(97615, 236)

In [111]:
import statsmodels.regression.linear_model as sm
X = np.append(arr = np.ones((97615, 1)).astype(int), values = X, axis=1)
X = pd.DataFrame(X)
X.head()

,0,1,2,3,4,5,6,7,8,9,...,227,228,229,230,231,232,233,234,235,236
0,1.0,1.0,154.0,0.0,0.0,45.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,355.0,0.0,0.0,20.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,12.0,0.0,0.0,91.597615,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,37.0,0.0,0.0,120.000000,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,21.0,0.0,0.0,91.597615,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [113]:
X_opt = X
statreg = sm.OLS(endog = y, exog = X_opt).fit()
statreg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.252
Model:                            OLS   Adj. R-squared:                  0.250
Method:                 Least Squares   F-statistic:                     139.5
Date:                Thu, 27 Aug 2020   Prob (F-statistic):               0.00
Time:                        13:44:42   Log-Likelihood:            -1.5443e+05
No. Observations:               97615   AIC:                         3.093e+05
Df Residuals:                   97379   BIC:                         3.116e+05
Df Model:                         235
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
0              3.5941      0.241     14.936      0.000       3.122       4.066
1              3.5941      0.241     14.936      0.000       3.122       4.066
2           4.135e-06    8.3e-08     49.810      0.000    3.97e-06     4.3e-06
3             -0.0732      0.590     -0.124      0.901      -1.229       1.082
4             -0.7057      0.117     -6.039      0.000      -0.935      -0.477
5           6.665e-05   2.26e-05      2.946      0.003    2.23e-05       0.000
6             -0.3128      0.012    -25.311      0.000      -0.337      -0.289
7              0.5580      0.120      4.659      0.000       0.323       0.793
8             -0.2106      0.014    -14.561      0.000      -0.239      -0.182
9              0.3356      0.029     11.732      0.000       0.280       0.392
10             0.2269      0.021     10.885      0.000       0.186       0.268
11             0.0157      0.010      1.554      0.120      -0.004       0.036
12            -0.0436      0.013     -3.289      0.001      -0.070      -0.018
13             1.2660      0.014     88.649      0.000       1.238       1.294
14             0.3195      0.010     33.512      0.000       0.301       0.338
15            -0.0499      0.021     -2.379      0.017      -0.091      -0.009
16            -0.0372      0.021     -1.742      0.081      -0.079       0.005
17             0.0964      0.046      2.103      0.035       0.007       0.186
18             3.0673      1.179      2.602      0.009       0.757       5.378
19             0.1531      0.023      6.649      0.000       0.108       0.198
20            -0.9160      0.014    -65.908      0.000      -0.943      -0.889
21             0.1953      0.021      9.206      0.000       0.154       0.237
22             0.1047      0.028      3.795      0.000       0.051       0.159
23             0.0964      0.018      5.360      0.000       0.061       0.132
24            -0.0313      0.062     -0.508      0.612      -0.152       0.090
25            -0.7354      0.295     -2.492      0.013      -1.314      -0.157
26            -0.0128      0.012     -1.035      0.301      -0.037       0.011
27            -0.4910      0.021    -23.848      0.000      -0.531      -0.451
28             0.0244      0.031      0.798      0.425      -0.035       0.084
29            -0.2712      0.681     -0.398      0.690      -1.606       1.063
30            -0.2775      0.014    -20.342      0.000      -0.304      -0.251
31             0.0446      0.026      1.710      0.087      -0.007       0.096
32            -0.0907      0.023     -3.947      0.000      -0.136      -0.046
33            -1.2790      1.273     -1.005      0.315      -3.774       1.216
34            -3.2500      1.275     -2.549      0.011      -5.749      -0.751
35            -3.0312      0.962     -3.150      0.002      -4.918      -1.145
36            -2.4881      1.273     -1.954      0.051      -4.984       0.008
37            -1.9982      0.714     -2.800      0.005      -3.397      -0.599
38            -1.8246      0.609     -2.998      0.003      -3.018      -0.632
39            -2.2065      0.609     -3.625      0.000      -3.399      -1.014
40            -1.2855      0.523     -2.457      0.014      -2.311      -0.260
41            -1.5381      0.495     -3.108      0.002      -2.508      -0.568
42            -1.3580      0.492     -2.761      0.006      -2.322      -0.394
43            -1.2181      0.492     -2.475      0.013      -2.183      -0.254
44            -1.0941      0.492     -2.224      0.026      -2.058      -0.130
45            -1.0725      0.491     -2.182      0.029      -2.036      -0.109
46            -1.2627      0.490     -2.578      0.010      -2.223      -0.303
47            -1.2321      0.490     -2.515      0.012      -2.192      -0.272
48            -1.1520      0.490     -2.349      0.019      -2.113      -0.191
49            -1.2881      0.491     -2.622      0.009      -2.251      -0.325
50            -1.1742      0.490     -2.394      0.017      -2.135      -0.213
51            -1.0802      0.489     -2.208      0.027      -2.039      -0.121
52            -1.0587      0.487     -2.175      0.030      -2.013      -0.105
53            -0.9273      0.486     -1.907      0.057      -1.880       0.026
54            -1.1120      0.487     -2.284      0.022      -2.066      -0.158
55            -0.8662      0.486     -1.781      0.075      -1.819       0.087
56            -1.1142      0.486     -2.294      0.022      -2.066      -0.162
57            -1.3098      0.485     -2.701      0.007      -2.260      -0.360
58            -1.1637      0.484     -2.402      0.016      -2.113      -0.214
59            -1.0767      0.484     -2.225      0.026      -2.025      -0.128
60            -1.0166      0.484     -2.100      0.036      -1.966      -0.068
61            -1.1793      0.484     -2.437      0.015      -2.128      -0.231
62            -1.1391      0.484     -2.355      0.019      -2.087      -0.191
63            -1.0754      0.483     -2.224      0.026      -2.023      -0.128
64            -1.0354      0.484     -2.141      0.032      -1.983      -0.088
65            -1.0444      0.484     -2.159      0.031      -1.992      -0.096
66            -0.9758      0.484     -2.018      0.044      -1.924      -0.028
67            -0.9184      0.484     -1.898      0.058      -1.867       0.030
68            -0.9386      0.484     -1.940      0.052      -1.887       0.010
69            -1.0189      0.484     -2.106      0.035      -1.967      -0.070
70            -0.9396      0.484     -1.940      0.052      -1.889       0.010
71            -0.9753      0.485     -2.013      0.044      -1.925      -0.026
72            -0.9478      0.485     -1.955      0.051      -1.898       0.002
73            -0.8863      0.484     -1.829      0.067      -1.836       0.063
74            -0.7771      0.485     -1.603      0.109      -1.727       0.173
75            -0.7759      0.484     -1.602      0.109      -1.725       0.174
76            -0.8134      0.485     -1.679      0.093      -1.763       0.136
77            -0.9660      0.484     -1.995      0.046      -1.915      -0.017
78            -0.8724      0.484     -1.801      0.072      -1.822       0.077
79            -0.8925      0.484     -1.843      0.065      -1.842       0.057
80            -0.9992      0.484     -2.063      0.039      -1.948      -0.050
81            -1.0048      0.485     -2.073      0.038      -1.955      -0.055
82            -0.9944      0.485     -2.051      0.040      -1.945      -0.044
83            -1.0495      0.485     -2.165      0.030      -1.999      -0.099
84            -0.9929      0.484     -2.050      0.040      -1.942      -0.044
85            -1.0384      0.485     -2.143      0.032      -1.988      -0.089
86            -1.0331      0.485     -2.131      0.033      -1.983      -0.083
87            -0.9918      0.485     -2.045      0.041      -1.942      -0.041
88            -1.0957      0.485     -2.261      0.024      -2.046      -0.146
89            -0.9977      0.485     -2.058      0.040      -1.948      -0.048
90            -1.0161      0.485     -2.096      0.036      -1.967      -0.066
91            -1.1705      0.485     -2.415      0.016      -2.120      -0.221
92            -1.1391      0.485     -2.351      0.019      -2.089      -0.189
93            -1.0872      0.484     -2.245      0.025      -2.037      -0.138
94            -1.1233      0.484     -2.319      0.020      -2.073      -0.174
95            -1.1832      0.484     -2.443      0.015      -2.133      -0.234
96            -1.3269      0.484     -2.740      0.006      -2.276      -0.378
97            -1.2738      0.484     -2.630      0.009      -2.223      -0.324
98            -1.3704      0.493     -2.777      0.005      -2.338      -0.403
99            -1.7821      0.575     -3.099      0.002      -2.909      -0.655
100           -1.6323      0.598     -2.729      0.006      -2.805      -0.460
101           -1.9648      0.833     -2.357      0.018      -3.598      -0.331
102           -2.0846      1.273     -1.637      0.102      -4.580       0.411
103           -2.4893      0.962     -2.586      0.010      -4.376      -0.603
104           -1.2019      1.273     -0.944      0.345      -3.697       1.293
105           -1.1090      1.273     -0.871      0.384      -3.605       1.387
106           -1.0612      1.273     -0.833      0.405      -3.557       1.434
107           -0.0652      1.273     -0.051      0.959      -2.561       2.430
108           -0.4104      1.273     -0.322      0.747      -2.906       2.085
109           -0.5758      1.273     -0.452      0.651      -3.071       1.920
110            0.1612      1.273      0.127      0.899      -2.334       2.656
111           -1.0828      1.273     -0.850      0.395      -3.578       1.413
112           -0.5356      1.273     -0.421      0.674      -3.031       1.960
113           -3.9534      1.275     -3.101      0.002      -6.452      -1.455
114           -3.4063      0.582     -5.855      0.000      -4.547      -2.266
115           -3.5572      0.715     -4.976      0.000      -4.958      -2.156
116           -2.4602      0.656     -3.751      0.000      -3.746      -1.175
117           -2.9395      0.962     -3.054      0.002      -4.826      -1.053
118           -3.7274      0.962     -3.873      0.000      -5.614      -1.841
119           -3.4541      0.962     -3.589      0.000      -5.340      -1.568
120           -3.1598      1.273     -2.482      0.013      -5.655      -0.665
121           -3.9128      0.963     -4.062      0.000      -5.801      -2.025
122           -1.7988      0.833     -2.158      0.031      -3.432      -0.165
123           -1.3065      0.962     -1.357      0.175      -3.193       0.580
124           -2.0504      0.761     -2.695      0.007      -3.542      -0.559
125           -1.9064      0.656     -2.907      0.004      -3.192      -0.621
126           -2.8862      0.681     -4.241      0.000      -4.220      -1.552
127           -1.8203      0.681     -2.675      0.007      -3.154      -0.487
128           -1.6489      0.564     -2.922      0.003      -2.755      -0.543
129           -1.7723      0.582     -3.046      0.002      -2.913      -0.632
130           -1.7203      0.598     -2.876      0.004      -2.893      -0.548
131           -1.5499      0.536     -2.893      0.004      -2.600      -0.500
132           -1.6906      0.529     -3.198      0.001      -2.727      -0.654
133           -1.7298      0.575     -3.008      0.003      -2.857      -0.603
134           -1.4706      0.575     -2.557      0.011      -2.598      -0.343
135           -1.6801      0.540     -3.109      0.002      -2.739      -0.621
136           -1.0449      0.543     -1.925      0.054      -2.109       0.019
137           -1.5693      0.637     -2.465      0.014      -2.817      -0.322
138           -1.9240      0.589     -3.265      0.001      -3.079      -0.769
139           -1.6033      0.609     -2.634      0.008      -2.796      -0.410
140           -1.6009      0.560     -2.860      0.004      -2.698      -0.504
141           -1.4442      0.560     -2.580      0.010      -2.541      -0.347
142           -0.9855      0.598     -1.647      0.099      -2.158       0.187
143           -1.2152      0.560     -2.171      0.030      -2.312      -0.118
144           -1.1825      0.589     -2.006      0.045      -2.338      -0.027
145           -1.4838      0.560     -2.651      0.008      -2.581      -0.387
146           -1.3009      0.552     -2.357      0.018      -2.383      -0.219
147           -1.6258      0.540     -3.009      0.003      -2.685      -0.567
148           -1.5474      0.530     -2.918      0.004      -2.587      -0.508
149           -1.7462      0.520     -3.360      0.001      -2.765      -0.727
150           -1.6316      0.519     -3.145      0.002      -2.648      -0.615
151           -1.3706      0.530     -2.585      0.010      -2.410      -0.331
152           -1.0872      0.532     -2.044      0.041      -2.130      -0.045
153           -1.0970      0.524     -2.092      0.036      -2.125      -0.069
154           -0.9166      0.534     -1.717      0.086      -1.963       0.130
155           -1.4647      0.552     -2.654      0.008      -2.547      -0.383
156           -1.1095      0.538     -2.062      0.039      -2.164      -0.055
157           -1.3158      0.552     -2.384      0.017      -2.398      -0.234
158           -1.2607      0.529     -2.385      0.017      -2.297      -0.225
159           -1.4553      0.560     -2.600      0.009      -2.553      -0.358
160           -1.1920      0.534     -2.232      0.026      -2.238      -0.145
161           -1.6696      0.552     -3.025      0.002      -2.751      -0.588
162           -1.0109      0.534     -1.893      0.058      -2.057       0.036
163           -1.1239      0.546     -2.060      0.039      -2.193      -0.054
164           -0.8535      0.538     -1.586      0.113      -1.908       0.201
165           -1.6403      0.530     -3.093      0.002      -2.680      -0.601
166           -1.3225      0.530     -2.494      0.013      -2.362      -0.283
167           -1.2329      0.549     -2.247      0.025      -2.308      -0.158
168           -1.4796      0.520     -2.847      0.004      -2.498      -0.461
169           -1.6053      0.516     -3.111      0.002      -2.617      -0.594
170           -0.8571      0.526     -1.630      0.103      -1.887       0.173
171           -1.1516      0.523     -2.202      0.028      -2.177      -0.126
172           -1.1469      0.516     -2.223      0.026      -2.158      -0.136
173           -0.9410      0.518     -1.817      0.069      -1.956       0.074
174           -1.1730      0.505     -2.322      0.020      -2.163      -0.183
175           -1.2071      0.508     -2.375      0.018      -2.203      -0.211
176           -1.1544      0.505     -2.286      0.022      -2.144      -0.164
177           -1.2519      0.500     -2.502      0.012      -2.233      -0.271
178           -1.4530      0.499     -2.914      0.004      -2.430      -0.476
179           -1.3851      0.493     -2.809      0.005      -2.352      -0.419
180           -1.3693      0.494     -2.772      0.006      -2.337      -0.401
181           -1.3780      0.495     -2.784      0.005      -2.348      -0.408
182           -1.1474      0.494     -2.324      0.020      -2.115      -0.180
183           -1.3595      0.491     -2.769      0.006      -2.322      -0.397
184           -1.5619      0.490     -3.188      0.001      -2.522      -0.602
185           -1.7825      0.486     -3.664      0.000      -2.736      -0.829
186           -1.4818      0.483     -3.065      0.002      -2.429      -0.534
187           -1.3471      0.483     -2.788      0.005      -2.294      -0.400
188           -1.2945      0.483     -2.679      0.007      -2.242      -0.347
189           -1.2675      0.483     -2.622      0.009      -2.215      -0.320
190           -1.3137      0.483     -2.717      0.007      -2.261      -0.366
191           -1.3321      0.483     -2.756      0.006      -2.279      -0.385
192           -1.2481      0.484     -2.581      0.010      -2.196      -0.300
193           -1.2974      0.483     -2.684      0.007      -2.245      -0.350
194           -1.2542      0.483     -2.595      0.009      -2.202      -0.307
195           -1.1344      0.484     -2.345      0.019      -2.082      -0.186
196           -1.0957      0.483     -2.266      0.023      -2.043      -0.148
197           -1.1685      0.484     -2.416      0.016      -2.116      -0.221
198           -1.1438      0.483     -2.366      0.018      -2.091      -0.196
199           -1.2543      0.483     -2.595      0.009      -2.202      -0.307
200           -1.2232      0.483     -2.531      0.011      -2.170      -0.276
201           -1.2550      0.483     -2.597      0.009      -2.202      -0.308
202           -1.3132      0.483     -2.718      0.007      -2.260      -0.366
203           -1.3763      0.483     -2.849      0.004      -2.323      -0.430
204           -1.3926      0.485     -2.873      0.004      -2.343      -0.442
205           -1.4662      0.486     -3.018      0.003      -2.418      -0.514
206           -1.3528      0.483     -2.799      0.005      -2.300      -0.405
207           -1.2874      0.483     -2.665      0.008      -2.234      -0.340
208           -1.4065      0.483     -2.911      0.004      -2.353      -0.460
209           -1.5135      0.483     -3.133      0.002      -2.460      -0.567
210           -1.5608      0.485     -3.217      0.001      -2.512      -0.610
211           -1.1675      0.487     -2.396      0.017      -2.122      -0.213
212           -1.2722      0.486     -2.620      0.009      -2.224      -0.320
213           -1.3179      0.483     -2.726      0.006      -2.265      -0.370
214           -1.4228      0.483     -2.949      0.003      -2.369      -0.477
215           -1.4217      0.482     -2.947      0.003      -2.367      -0.476
216           -1.3031      0.482     -2.702      0.007      -2.248      -0.358
217           -1.2876      0.482     -2.670      0.008      -2.233      -0.343
218           -1.2788      0.482     -2.652      0.008      -2.224      -0.334
219           -1.2215      0.482     -2.534      0.011      -2.166      -0.277
220           -1.2024      0.482     -2.495      0.013      -2.147      -0.258
221           -1.2919      0.482     -2.681      0.007      -2.236      -0.347
222           -1.2670      0.482     -2.629      0.009      -2.211      -0.323
223           -1.2604      0.482     -2.616      0.009      -2.205      -0.316
224           -1.2447      0.482     -2.584      0.010      -2.189      -0.301
225           -1.2486      0.482     -2.592      0.010      -2.193      -0.305
226           -1.2505      0.482     -2.596      0.009      -2.195      -0.306
227           -1.2355      0.482     -2.565      0.010      -2.180      -0.292
228           -1.2641      0.482     -2.625      0.009      -2.208      -0.320
229           -1.2352      0.482     -2.565      0.010      -2.179      -0.291
230           -1.2986      0.482     -2.696      0.007      -2.243      -0.355
231           -1.2505      0.482     -2.597      0.009      -2.194      -0.307
232           -1.3035      0.482     -2.707      0.007      -2.247      -0.360
233           -1.3701      0.482     -2.845      0.004      -2.314      -0.426
234           -1.2864      0.482     -2.671      0.008      -2.230      -0.343
235           -1.1798      0.482     -2.445      0.014      -2.125      -0.234
236            0.4019      1.273      0.316      0.752      -2.093       2.897
==============================================================================
Omnibus:                     4698.952   Durbin-Watson:                   1.973

In [140]:
pValues = statreg.summary2().tables[1]['P>|t|']

In [141]:
pValues = pValues.sort_values(ascending=False)
pValues = pValues.reset_index()
pValues.columns = ['features', 'p-value']

In [154]:
val = pValues.iloc[0, 0]

In [160]:
test = X_opt.drop(columns = [val])
test

,0,1,2,3,4,5,6,7,8,9,...,227,228,229,230,231,232,233,234,235,236
0,1.0,1.0,154.0,0.0,0.0,45.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,355.0,0.0,0.0,20.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,12.0,0.0,0.0,91.597615,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,37.0,0.0,0.0,120.000000,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,21.0,0.0,0.0,91.597615,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97610,1.0,1.0,471.0,0.0,0.0,122.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
97611,1.0,1.0,20.0,0.0,0.0,98.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
97612,1.0,1.0,21.0,0.0,0.0,86.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
97613,1.0,1.0,35.0,0.0,0.0,102.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
97614,1.0,1.0,26.0,0.0,0.0,97.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

107